body{
	font-family: "Pixelify Sans", sans-serif;
	background-color:powderblue;
	background-image:url('offline.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
  	background-size: 100% 100%;
}
h1,h2{
	color:Teal;
}
p{
	color:LightSeaGreen;
}
